In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.width',1000)
pd.set_option('display.max_colwidth',10)
titanic_df = pd.read_csv(r'C:\Users\kis91\Desktop\python study\data\titanic\titanic_train.csv')

In [3]:
titanic_df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [4]:
#Na값 채워넣기
titanic_df['Cabin'] = titanic_df['Cabin'].fillna('C000')
titanic_df['Age'].fillna(titanic_df['Age'].mean(),inplace=True)
titanic_df['Embarked'].fillna('S',inplace=True)
print(titanic_df.isna().sum())

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [5]:
#lambda 함수
def get_square(a):
    return a**2
print(get_square(3))


lambda_square = lambda x : x**2
print(lambda_square(3))

9
9

In [6]:
a = lambda x : len(x)
titanic_df['Name'].apply(lambda x: len(x))
titanic_df['Age'].apply(lambda x: 'Child' if x<=15 else 'Adult')
titanic_df['Child_Adult'] = titanic_df['Age'].apply(lambda x: 'Child' if x<=15 else 'Adult')
titanic_df['Age_cat'] = titanic_df['Age'].apply(lambda x: 'Child' if x<=15 else ('Adult' if x <=60 else 'Elderly'))
titanic_df['Age_cat'].value_counts()

Adult      786
Child       83
Elderly     22
Name: Age_cat, dtype: int64

In [7]:
def get_category(x):
    if x <=5: ret = 'Baby'
    elif x <=12: ret = 'Child'
    elif x <=35: ret = 'Adult'
    else : ret = 'Elderly'
    return ret

titanic_df['Age'].apply(lambda x : get_category(x))

0        Adult
1      Elderly
2        Adult
3        Adult
4        Adult
5        Adult
6      Elderly
7         Baby
8        Adult
9        Adult
10        Baby
11     Elderly
12       Adult
13     Elderly
14       Adult
15     Elderly
16        Baby
17       Adult
18       Adult
19       Adult
20       Adult
21       Adult
22       Adult
23       Adult
24       Child
25     Elderly
26       Adult
27       Adult
28       Adult
29       Adult
        ...
861      Adult
862    Elderly
863      Adult
864      Adult
865    Elderly
866      Adult
867      Adult
868      Adult
869       Baby
870      Adult
871    Elderly
872      Adult
873    Elderly
874      Adult
875      Adult
876      Adult
877      Adult
878      Adult
879    Elderly
880      Adult
881      Adult
882      Adult
883      Adult
884      Adult
885    Elderly
886      Adult
887      Adult
888      Adult
889      Adult
890      Adult
Name: Age, Length: 891, dtype: object